.git
.codex
.agents

node_modules
**/node_modules

dist
**/dist
.output
**/.output
.wrangler
**/.wrangler
.tanstack/tmp
**/.tanstack/tmp

.persist
coverage
**/coverage

.env
.env.local
.env.development
.env.production
**/.env
**/.env.local
**/.env.development
**/.env.production
